/* Generales */

:root {
  --color-1: #d2afff !important;
  --color-2: #e1c4ff !important;
  --color-3: #d8b9ff !important;
  --color-4: #ECE5DE;
  --color-5: #575756;
}

section.ceremonia-fiesta:after{
  background-image: url('../img/img_ondas.svg') !important;
}

section.instagram:after{
  background-image: url('../img/img_ondas.svg') !important;
}
/* section.fiesta{
  background-image: url('../img/img_ondas.svg') !important;
} */

/* section.fiesta:after{
  background-image: url('../img/img_ondas.svg') !important;
} */